@media screen and (max-width: 1160px) {
	.form-control-small {
	    width: 120px !important;
	}
	.form-control-medium {
	    width: 200px !important;
	}
	.form-inline .form-control {
	    width: 160px;
	}
	.social-slide{
		margin-left: 0;
		margin-right: 0;
	}
}

@media screen and (max-width: 991px) {
	.page-banner{
		height: auto;
		overflow: auto;
	}
	.home-contents{
		position: relative;
		padding-right: 20px;
	    padding-left: 20px;
	    padding-top: 30px;
	    padding-bottom: 40px;
	    width: 370px;
	}
	.home-contents h2{
		font-size: 28px;
	}
	.schedule_form h2{
		font-size: 40px;
	}
	.form-control-small{
		width: 135px !important;
	}
	.schedule_form .btn{
		width: 85px;
	}
	.cb_textarea{
		max-width: 440px;
		padding: 40px 0 20px;
	}
	.cb_textarea h2{
		font-size: 29px;
		line-height: 29px;
		padding-left: 30px;
		padding-right: 10px;
	}
	.cb_text_description{
		padding-top: 0;
		font-size: 15px;
		padding-left: 30px;
		padding-right: 15px;
	}
	.ml-auto > .cb_text_description{
		padding-right: 30px;
    	padding-left: 15px;
	}
	.ml-auto h2{
		padding-left: 15px;
	}
	.dropdown-menu{
		display: block;
		background-color: transparent;
	}
	.dropdown-menu a{
		padding: 10px;
		color: #676161;
	}
	.navbar-nav{
		margin: 10px 0;
	}
	.navbar-brand img {
	    height: 42px;
	}
	.navbar-nav a{
		font-size: 20px;
		font-weight: bold;
	}
	.navbar{
		padding: 0;
	}
	.navbar-brand{
		margin: 10px 0 10px 15px;
	}
	.navbar-toggler{
		margin-right: 10px;
	}
	.navbar-collapse{
		color: #fff;
		background: #404040;
	}
	.navbar-nav a{
		color: #fff !important;
		background: none !important;
		padding: 0.8rem 1.2rem !important;
	}
	.navbar-nav a:hover{
		color: #f89829 !important;
	}
	.navbar-nav .dropdown-menu{
		margin-left: 30px;
		padding-bottom: 15px;
	}
	.navbar-nav .dropdown-menu a{
	    display: block;
	    font-weight: normal;
	    font-size: 16px;
	    padding: 10px 15px !important;
	    border-bottom: 1px solid #555;
	}
	.injection{
		margin-top: 35px;
		margin-bottom: 15px;
		font-size: 20px;
	}
	.injection img{
		width: 130px;
		top: -50px;
	}
	.injection-1 {
	    padding-left: 145px;
	}
	.list-links li{
		font-size: 18px;
	}
}

@media screen and (min-width: 576px) {
	.btn-sm-inline{
		display: inline-block;
		width: auto;
	}
	.modal-dialog {
	    max-width: 600px;
	}
}

@media screen and (max-width: 767px) {
	p{
		margin-bottom: 15px;
	}
	p, li{
		font-size: 15px;
	}
	.pb-5, .py-5 {
	    padding-bottom: 1.3rem!important;
	}
	.pt-5, .py-5 {
	    padding-top: 1.3rem!important;
	}
	.pb-4, .py-4 {
	    padding-bottom: 1rem!important;
	}
	.pt-4, .py-4 {
	    padding-top: 1rem!important;
	}
	.mt-5, .my-5 {
	    margin-top: 1.3rem!important;
	}
	.slider{
		height: 400px;
	}
	.slider .bx-wrapper{
		position: relative;
	}
	.home-contents{
		width: 100%;
		background: #594d3a;
	}
	.home-contents h2:first-child{
		padding-top: 0;
	}
	.home-contents p{
		margin-top: 20px;
		font-size: 14px;
		line-height: 1.4;
	}
	.mian-bxslider-button{
		right: 0;
		margin-top: -48px;
		bottom: auto;
		width: auto;
	}
	.mian-bxslider-button img{
		max-width: 120px;
	}
	.image_bg.position-absolute{
		padding-bottom: 45%;
		position: relative !important;
		height: auto;
	}
	.cb_textarea{
		padding-top: 0;
		max-width: 100%;
		width: 100%;
	}
	.cb_textarea h2, .cb_text_description{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.slider .slide_image{
		background-position: center right;
		-webkit-background-size: 140%;
		background-size: 140%;
	}
	.parapgraph-content h2{
		font-size: 32px;
		line-height: 1.2;
	}
	.parapgraph-content h3{
		font-size: 22px;
		line-height: 1;
	}
	.parapgraph-content h2 + h3{
		margin-top: -2px;
	}
	.parapgraph-content{
		margin-bottom: 25px;
	}
	.page-title h2{
		font-size: 26px;
		margin-bottom: 10px;
	}
	.injection img{
		top: -42px;
	}
	.injection-2 img{
		left: 0;
	}
	.container-wrap-out{
		margin-left: -15px;
		margin-right: -15px;
	}
	.injection{
		padding-left: 110px;
	}
	.parapgraph-content h1{
		font-size: 30px;
	}
	.location-page h1{
		font-size: 26px;
	}
	.navbar-nav a{
		padding: 0.5rem 1rem !important;
		font-size: 18px;
	}
	.cb_textarea{
		background-color: transparent !important;
	}
	.footer-content{
		text-align: center;
	}
	footer p{
		font-size: 13px;
	}
	.footer-logo{
		text-align: center;
		margin-top: 0;
		margin-bottom: 10px;
	}
	.footer-logo img{
		max-width: 260px;
	}
}

@media screen and (max-width: 575px) {
	.navbar{
		padding-left: 0px;
		padding-right: 0px;
	}
	h3 {
	    font-size: 20px;
	    line-height: 30px;
	}
	.carecredit-btn{
		position: relative;
		right: 0;
		margin-bottom: 15px;
	}
	.footer-bottom{
		margin-top: 0;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.footer-bottom .btn{
		margin-bottom: 15px;
	}
	.cb_textarea h2{
		font-size: 26px;
		line-height: 29px;
	}
	.form-control{
		width: 100% !important;
	}
	.schedule_form .btn{
		width: 100%;
	}
	.schedule_form h2 {
	    font-size: 36px;
	    line-height: 36px;
	}
	.home-contents h2 {
	    font-size: 24px;
	}
	.slider {
	    height: 330px;
	}
	.image_bg.position-absolute{
		padding-bottom: 65%;
	}
	.gradient-title{
		padding-left: 20px;
		padding-right: 20px;
		font-size: 24px;
	}
}

@media screen and (max-width: 479px) {
	.slider {
	    height: 222px;
	}
}