@font-face {
    font-family: 'CenturyGothicW02';
    src: url('../fonts/CenturyGothicW02.eot');
    src: url('../fonts/CenturyGothicW02.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CenturyGothicW02.woff2') format('woff2'),
        url('../fonts/CenturyGothicW02.woff') format('woff'),
        url('../fonts/CenturyGothicW02.ttf') format('truetype'),
        url('../fonts/CenturyGothicW02.svg#CenturyGothicW02') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic-Bold.eot');
    src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CenturyGothic-Bold.woff2') format('woff2'),
        url('../fonts/CenturyGothic-Bold.woff') format('woff'),
        url('../fonts/CenturyGothic-Bold.ttf') format('truetype'),
        url('../fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
	line-height: 1.22;
	font-size: 16px;
	color: #000401;
	font-family: 'CenturyGothicW02' ,Arial, Helvetica, sans-serif!important;
	letter-spacing:1px;
	background:#ffffff;
	background-size:contain;
}
.container{
    max-width: 1100px;
	width:100%;
}

*:focus {
	outline: none;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover ,span:hover{
	-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;	
}
a:active, a:focus {
	outline: none; 
}
strong{
	font-family: 'Century Gothic';
	font-weight: bold;
}
p, li{
	color: #808080;
	line-height: 1.22;
	font-family: Arial, Helvetica, sans-serif !important;
}
ul{
	padding: 0 0 0 20px;
	margin: 0 0 20px;
	list-style-type: disc;
}
ul li{
	margin-bottom: 5px;
}
.comment-form-comment label {
	display: none;
}

.comment-form-comment textarea {
	width: 100%;
}
h1,h2,h3,h4,h5,h6{
	color: #585858;
	font-weight:normal;
}
h5{
	font-size:27px;	
}
h1 {
	font-size: 36px;
	line-height: 62px;
}

h2 {
	font-size: 28px;
	line-height: 52px;
}

h3 {
	font-size: 24px;
	line-height: 32px;
}

h4 {
	font-size: 22px;
	line-height: 28px;
}

h5 {
	font-size: 20px;
	line-height: 28px;
	
}

h6 {
	font-size: 18px;
	line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 20px 0;
	font-weight: 300;
	color: #404040;
	font-weight: 600;
}

a {
	text-decoration: none;
	color: #404040;
}

p {
	margin: 0 0 20px 0;
}

.btn-primary{
	background: #e1c05f !important;
	border-color: #e1c05f !important;
}

.btn-skyblue{
	background: #98bbd8 !important;
	border-color: #98bbd8 !important;	
	color: #FFF;
}

.navbar{
	background: #e1c05f;
	padding-left: 30px;
	padding-right: 30px;
	color: #585a5d;
}
.navbar-nav a{
	color: inherit;
	font-family: "CenturyGothicW02", Verdana, Geneva, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    color: #585a5d;
}
.navbar-nav .dropdown-toggle::after{
	display: none;
}
.navbar-nav a:hover{
	color: #000;
}
.navbar-brand{
	padding: 2px 0;
}
.navbar-brand img{
	max-width: 200px;
}
.navbar-nav li:hover .dropdown-menu{
	display: block;
}
.dropdown-menu{
	border: none;
	padding: 0;
	margin: 0;
	min-width: 210px;
	border-radius: 0;
	color: #89898c!important;
}
.dropdown-menu a{
	font-size: 15px;
	padding: 10px 20px;
}
.dropdown-menu a:hover{
	background: #283142;
	color: #fff;
}
.page-banner{
	height: calc(100vh - 71px);
	overflow: hidden;
}
.home-contents{
	background: url('../images/gray-bg-2.png') repeat center / auto;
	position: relative;
	padding-right:30px;
	padding-left:60px;
	padding-top:60px;
	padding-bottom:40px;
	z-index: 5;
	color:#c2c4c7;
	width:430px;
	height:100%;
	float:left;
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
}
.home-contents h1, .home-contents h2{
	padding:0;
	margin:0;
	font-weight:bold;
	text-transform:uppercase;
	font-size:63px;
	font-family: 'Century Gothic';
	color:#c2c4c7;
	line-height:52px;
}
.home-contents h2:first-child {
	line-height:24px;
	padding-top:20px;
}
.home-contents h2{
	font-size:30px;
	line-height:30px;
	font-family: 'Century Gothic';
}
.home-contents p{
	color:#fff;
	margin-top:40px;
	line-height:18px;
	font-size:15px;
	margin-bottom: 14px;
}
.home-contents h2 strong a{
	color: #ffff99;
}
.slider{
	width: 100%;
	height: 100%;
}
.slider .bx-wrapper{
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	box-shadow: none;
	height: 100%;
	left: 0;
	top: 0;
}
.slider .bx-viewport, .slider .bxslider, .slider .bxslider > div, .slider .slide_image{
	height: 100% !important;
}
.slider .slide_image{
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center;
}

.schedule_form h2{
    font-size: 50px;
    color: #914d27;
    font-weight: normal;
}
.form-control{
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #213c4f;
	font-size: 16px;
	border-radius: 4px;
}
.form-control-small{
	width: 160px !important;
}
.form-control-medium{
	width: 220px !important;
}
.schedule_form .btn{
	width: 150px;
	border: 1px solid #213c4f !important;
}

.content_box{
	z-index: 1;
}
.image_bg{
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
}
.bg-position-right{
	background-position: center right;
}
.bg-position-left{
	background-position: center left;
}
.cb_textarea{
	color: #525151;
	width: calc(50% - 65px);
	text-align: left;
	padding: 90px 0 70px;
	line-height: 1.4;
	font-family: Arial, Helvetica, sans-serif;
	background: rgba(240, 240, 240, 0.55);
}
.cb_textarea p, .cb_textarea strong{
	font-family: Arial, Helvetica, sans-serif;
	color: #525151;
}
.cb_textarea h2{
    font-family: 'Century Gothic';
    text-transform: uppercase;
    padding-top: 14px;
    padding-left: 60px;
    padding-right: 20px;
    padding-bottom: 13px;
    background: #e1c05f;
    line-height: 34px;
    font-size: 32px;
    color: #fff;
}
.cb_text_description{
	padding-left: 60px;
	padding-top: 15px;
	padding-right: 15px;
	font-size: 16px;
}
.ml-auto > .cb_text_description{
	padding-right: 60px;
	padding-left: 15px;
}
footer{
	border-top: 3px solid #465a6a;
}
.footer-content{
	margin-top: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
.footer .social-icons {
    font-size: 16px;
    margin-top: 4px;
    margin-right: 9px;
}
.footer .social-icons a {
    float: right;
}
.social-slide {
    height: 34px;
    width: 34px;
    margin: 4px 2px;
    /*float: left;*/
    display: inline-block;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.social-icons a div {
    background-size: 34px auto!important;
}
.social-slide:hover {
	background-position: 0px -34px;
}
.twitter-hover {
	background-image: url('../images/twitter-hover.png');
}
.facebook-hover {
	background-image: url('../images/facebook-hover.png');
}
.google-hover {
	background-image: url('../images/google-hover.png');
}
.youtube-hover {
	background-image: url('../images/youtube-hover.png');
}
.instagram-hover {
	background-image: url('../images/instagram-hover.png');
}

.footer-logo {
    width: 100%;
    margin-top: -18px;
}
.footer-logo img {
    /*max-width: 300px;*/
    width: 100%;
}

footer h3{
	margin-top: 16px;
    color: #444c59;
    font-weight: bold;
    margin-bottom: 0px;
    font-family: 'CenturyGothicW02';
    font-weight: bold;
}
footer h4{
	font-size: 14px;
    text-transform: none;
    font-weight: 700;
    margin-bottom: 3px;
    font-family: 'CenturyGothicW02';
    font-weight: bold;
}
footer p{
	color: #736f6f;
    font-size: 14px;
    line-height: 20px;
    font-family: 'CenturyGothicW02' !important;
    font-weight: normal;
}
footer p a{
    font-family: 'CenturyGothicW02';
    font-weight: normal;	
}
.footer-bottom{
	background: #e1c05f;
	padding-bottom: 4px;
	margin-top: 15px;
	padding-top: 4px;
	color: #fff;
    font-family: 'CenturyGothicW02';
    font-weight: normal;
}
.footer-bottom a, .footer-bottom p{
	color: #fff;
	margin: 0;
	text-decoration: none;
    font-family: 'CenturyGothicW02';
    font-weight: normal;
}
.footer-bottom a:hover{
	opacity: 0.8;
}
.carecredit-btn{
	margin-bottom: 5px;
	position: absolute;
	bottom: 100%;
	right: 10px;
	z-index: 5;
}
.carecredit-btn img{
	max-width: 150px;
}
.mian-bxslider-button {
    position: absolute;
    bottom: 4px;
    right: 20px;
    width: 200px;
    height: auto;
    z-index: 99;
}
.parapgraph-content h1{
	color: #727773;
	line-height: 1;
	font-weight: normal;
	margin-bottom: 20px;
	font-family: 'CenturyGothicW02' ,Arial, Helvetica, sans-serif;
}
.parapgraph-content h2{
	color: #d5b72b;
    font-size: 40px;
    margin-bottom: 4px;
    font-weight: normal;
    text-transform: uppercase;
}
.parapgraph-content-gray h2{
	color: #4c5456;
	font-weight: bold;
}
.parapgraph-content h3{
	text-transform: uppercase;
	font-weight: normal;
    font-size: 28px;
    margin-bottom: 4px;
    margin-bottom: 15px;
}
.parapgraph-content h2 + h3{
	margin-top: -10px;
}
.parapgraph-content h4{
	margin-bottom: 10px;
}
.image img{
	display: block;
	margin: auto;
}
.image-half img{
	max-width: 220px;
	width: 90%;
}
.page-title h2{
    color: #ac6d3a;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 34px;
    line-height: 1.2;
    font-family: 'Century Gothic';
    text-transform: uppercase;
}
.tt-orange h3{
	color: #e49039;
}
.tt-blue h3{
	color: #40a3c0;
}
.tt-green h3{
	color: #9bd487;
}
.tt-red h5{
	color: #774515;
}
.injection{
    padding-left: 90px;
    padding-right: 60px;
    padding-top: 14px;
    padding-bottom: 13px;
    background: #e1c05f;
    font-size: 32px;
    font-family: 'Century Gothic';
    color: #fff;
    line-height: 1;
    margin-top: 70px;
    margin-bottom: 50px;
    position: relative;
}
.injection-1{
	padding-left: 175px;
}
.injection span{
	font-size: 1.48em;
}
.injection img{
	position: absolute;
	width: 183px;
    top: -93px;
	left: 0;
}
.injection-2 img{
	position: absolute;
	width: 246px;
    top: -92px;
	left: -95px;
}
.list-links ul{
	padding: 0;
	list-style: none;
}
.list-links li{
	font-size: 22px;
    margin-bottom: 1px;
}
.list-links li a{
	font-family: 'CenturyGothicW02';
	text-decoration: none;
	background: #fff;
	display: inline-block;
	padding: 6px 30px;
	color: #585858;
}
.list-links li a:hover{
	background: #283142;
	color: #fff;
}
.modal-body{
	padding: 1.3rem 1.8rem;
}
.modal-body h4{
	margin-bottom: 10px;
}
.page-heading h2{
	font-size: 50px;
	line-height: 1;
	text-align: left;
	display: inline-block;
	font-family: 'Century Gothic';
	color: #484442;
}
.page-heading h2 span{
	color: #748f61;
}
.form-inline .form-control{
	width: 180px;
}
.gradient-title{
	padding-left: 50px;
    padding-right: 40px;
    padding-top: 14px;
    padding-bottom: 13px;
    background: #e1c05f;
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Century Gothic';
    color: #fff;
    line-height: 1;
    margin-top: 5px;
    margin-bottom: 20px;
    position: relative;
}
.full-contents-body{
	position: relative;
	padding-top: 70px;
	background: #fff url(../images/gray-bg-4-2.jpg);
}
.location-page h5{
	margin-bottom: 0;
}
.location-page h1{
	font-weight: normal;
	margin-top: 0;
	line-height: 1.5;
	margin-bottom: 10px;
}
.google-map-link{
	background: #edb61e;
    padding: 8px 16px;
    text-transform: uppercase;
    color: #070508 !important;
    padding-right: 20px;
    text-decoration: none !important;
}
.google-map-link img{
	margin-left: -41px;
    margin-right: 10px;
    height: 50px;
    margin-top: -13px;
    width: 84px;
}
.parapgraph-content-testimonial h2{
	text-transform: none;
	margin-bottom: 0;
    color: #727773;
}
.parapgraph-content-testimonial h6{
	font-weight: normal;
	margin-bottom: 22px;
    color: #727773;
    margin-top: -5px;
    font-size: 20px;
}